*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body{
    background-color: #f2f4f5;
    position:relative;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color:rgb(248, 64, 8);
}
ul {
    list-style: none;
}
p{
    color: #545962
}
main{
    padding-bottom: 150px;
}
.container{
    margin:0 5%;
}

/*NAV*/
header{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    z-index: 1;
}
.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-top: 1em;
}

.imgLogo{
    width: 128px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5%;

}
/*Footer AREGLARLO*/
footer{
text-align: center;
  background-color: blue;
  position: absolute;
  bottom: -150; /*ver esto q onda*/
  width: 100%;
  height: auto; 
}
.redesFooter{
height: 150px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding-bottom: 30px;
}
.imgLogoFooter{
    width: 128px;
}
.linkSocialFootImg{
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(183deg) brightness(106%) contrast(101%);

}
.menuFooter{
    color: #ffffff;
    border-top: 1px solid white ;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menuFooter h4{
    font-size: 20px;
    font-weight: 400;
}
.menuFooter h5{
    font-size: 30px;
    font-weight: 800;
}
.menuFooter p,a{
    color: #ffffff;
    font-weight: 300;

}
/*1*/
/*MAIN*/
/*index seccion herobanner*/
.secImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5%;
}

.heroBanner{
    background-image: url("./img/travelHero1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    width: auto;
}
.h2HeroBanner{
    font-size: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
}
.arrow-down{
    width: 100%;
    height: 70px;
    filter: invert(32%) sepia(25%) saturate(4928%) hue-rotate(353deg) brightness(105%) contrast(107%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-downImg{
    width: 50px;
}

/*index seccion 2*/
.section2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
}
.sub2div1{
  grid-column: 1/6;
  grid-row: 1;
  color:blue;
}
.sub2div2{
    grid-column: 7/13;
    grid-row: 1;
}
.sub2div2 img{
    width:100%;
    background-size:contain;
}
.sub2div1 h2{
    font-size: 64px;
}
.sub2div1 h2:first-child{
    color:blue;
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
}
/*sec background imagen azul*/
.secBackImg{
    background-image: url("https://es.tourismpanama.com/includes/client_public/assets/redesign_assets/blue-bg-burst-parallax.jpg");
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.secBackImg h3:first-child{
    font-family: "Permanent Marker", cursive;
    color: #ffffff;
    font-size: 40px;
    line-height: 1em;
}
.secBackImg h3:nth-child(2){
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 100px;
    letter-spacing: 6px;
    font-weight: 600;
}
.listSocial{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:1em;
}
.linkSocialImg{
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(183deg) brightness(106%) contrast(101%);
}

/*img promociones*/
.imgPromo{
border-radius: 30px;
margin-top: 50px;
}



/*2*/
/*PAG. SEARCH*/
/*2*/

/*serch form*/
.heroBanner2{
    width: 100%;
    height: 300px;
    background-image: url(https://images.almundo.com/205/image/fetch/fl_progressive,w_1440,h_344,q_auto,c_fill,g_auto,f_jpg/https://almundo-com-res.cloudinary.com/image/upload/v1701109625/banner-home_dae90r.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formCompra{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}
/*section cards*/
.sectionCards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    box-sizing: content-box;
}
.subSectionCards{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.cards{
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    max-width: 20%;
    height: auto;
    padding: 15px;

}
.cards h3{
    padding-bottom: 10px;
}
.cards p {
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: #888;
    font-size: 14px;
}

/*Promo cards Viajes*/
.sectionCardsTrip{
    text-align: start;
    margin-top:50px;
}
.cardsTrip{
    display: flex;
    flex-direction: column;
    height:400px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0.5px 0.5px 0.5px rgb(206, 206, 206);
    transition:  box-shadow 1s ;
}
.cardsTrip:hover{
    box-shadow: 3px 3px 4px rgb(206, 206, 206);
}

.subSectionCardTrip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}
.imgCardTrip{
    width:100%;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}
.TextCardTrip{
    height: 100%;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TextCardTrip div:first-child{
    border-bottom:1px solid  rgb(206, 206, 206);
    padding-bottom:15px;
}

/*CONTACTO*/

.fomContact{
    margin:150px;
    background-color: blue;
}