*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}

.topHeader{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgLogo{
    width: 128px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5%;
}
.heroBanner{
    width: 100%;
    height: 300px;
    background-image: url(https://images.almundo.com/205/image/fetch/fl_progressive,w_1440,h_344,q_auto,c_fill,g_auto,f_jpg/https://almundo-com-res.cloudinary.com/image/upload/v1701109625/banner-home_dae90r.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formCompra{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.secImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5%;
}